html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	margin: 0 auto;
	float:left;
}

button,
input[type="checkbox"] {
	outline: none;
}

.hidden {
	display: none;
}

.selected{
	font-weight: bold;
}

.todoapp {
	background: #fff;
	margin: 10px 0 40px 5px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
	float: left;
	overflow: hidden;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp h2 {
	font-size: 200%;
	text-align: center;
	color: rgba(2, 3, 113, 0.55);
	margin:15px 0px;
}

.new-item,
.edit {
	position: relative;
	margin: 0;
	width: 280px;
	font-size: 120%;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.new-item {
	padding: 9px 16px 9px 16px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	width:100%;
}

.areas {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	padding-bottom: 500em;
  margin-bottom: -500em;
	width: 280px;
}
.projects {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	border-left: 2px solid #999;
	padding-bottom: 500em;
  margin-bottom: -500em;
	width: 280px;
}
.actions {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	border-left: 2px solid #999;
	padding-bottom: 500em;
  margin-bottom: -500em;
	width: 280px;
}

.action-details {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	border-left: 2px solid #999;
	padding-bottom: 500em;
  margin-bottom: -500em;
	width: 400px;
}

.item-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-list li {
	position: relative;
	font-size: 120%;
	border-bottom: 1px solid #ededed;
}

.item-list li:last-child {
	border-bottom: none;
}

.item-list li.editing {
	border-bottom: none;
	padding: 0;
}

.item-list li.editing .edit {
	display: block;
	padding: 3px 5px 3px 5px;
	margin: 0 0 0 0;
}

.item-list li.editing .view {
	display: none;
}

.item-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.item-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.item-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.item-list li label {
	white-space: pre-line;
	padding: 10px 25px 5px 5px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.action-list li label {
	margin-left: 29px;
}

.item-list li.completed label {
	color: #909090;
	text-decoration: line-through;
}

.project-stats{
	font-size:80%;
	color: #909090;
}

.item-list li .destroy, .action-details .destroy {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto 0;
	font-size: 20px;
	color: #cc9a9a;
	margin-bottom: 0;
	transition: color 0.2s ease-out;
}

.item-list li:hover .destroy{
	display: block;
}
.action-details .destroy{
	display: block;
	position: relative;
	top:0;
	float: right;
}
.action-details-div .view{
	padding:5px;
}
label[for="action-note"]{
	margin:5px;
}
.action-details-div .edit{
	margin:1%;
	width:98%;
}

.item-list li .modify {
	display: none;
	position: absolute;
	top: 7px;
	left: 5px;
	width: 25px;
	height:25px;
	margin: auto 0;
	font-size: 25px;
	color: #5BAF5F;
	margin-bottom: 0;
	transition: color 0.2s ease-out;
}

.item-list li.selected:hover .modify {
	display: block;
}

.item-list li .edit {
	display: none;
}

.item-list li.editing:last-child {
	margin-bottom: -1px;
}

.action-list{
	border-top: 1px solid #e6e6e6;
	margin-top:10px;
}

.info {
	margin: 65px auto 0;
	color: #909090;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
	clear: both;
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

.status-filter {
	color: #777;
	padding: 5px 15px;
	text-align: center;
}

.status-filter:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
	float: left;
	padding-bottom:4px;
}

.todo-count strong {
	font-weight: 300;
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li button {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li button.selected-filter,
.filters li button:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.filters li button.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed-div{
	text-align: right;
}

.invisible{
visibility: hidden;
}

label[for="toggle-all"]{
	padding-bottom: 5px;
}

#dialog-confirm #dialog-message{
	vertical-align: center;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}
}
