html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	margin: 0 auto;
	float:left;
}

button,
input[type="checkbox"] {
	outline: none;
}

button.destroy{
	cursor: pointer;
}

button.modify{
	cursor: pointer;
}

.hidden {
	display: none;
}

.selected{
	font-weight: bold;
}

.todoapp {
	background: #fff;
	margin: 10px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
	float: left;
	overflow: hidden;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp h2 {
	font-size: 200%;
	text-align: center;
	color: rgba(2, 3, 113, 0.55);
}

.new-item,
.edit {
	position: relative;
	margin: 0;
	width: 226px;
	font-size: 120%;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.new-item {
	padding: 9px 16px 9px 16px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.areas {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	padding-bottom: 500em;
  margin-bottom: -500em;
}
.projects {
	float: left;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
	padding-bottom: 500em;
  margin-bottom: -500em;
}

label[for='toggle-all'] {
	display: none;
}

.item-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-list li {
	position: relative;
	font-size: 120%;
	border-bottom: 1px solid #ededed;
}

.item-list li:last-child {
	border-bottom: none;
}

.item-list li.editing {
	border-bottom: none;
	padding: 0;
}

.item-list li.editing .edit {
	display: block;
	padding: 5px 9px 5px 9px;
	margin: 0 0 0 0;
}

.item-list li.editing .view {
	display: none;
}

.item-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.item-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.item-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.item-list li label {
	white-space: pre-line;
	word-break: break-all;
	padding: 10px 10px 5px 5px;
	margin-left: 29px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.item-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.item-list li .destroy {
	display: none;
	position: absolute;
	top: 5px;
	right: 10px;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto 0;
	font-size: 20px;
	color: #cc9a9a;
	margin-bottom: 0;
	transition: color 0.2s ease-out;
}

.item-list li:hover .destroy {
	display: block;
}


.item-list li .modify {
	display: none;
	position: absolute;
	top: 7px;
	left: 5px;
	width: 25px;
	height:25px;
	margin: auto 0;
	font-size: 25px;
	color: #5BAF5F;
	margin-bottom: 0;
	transition: color 0.2s ease-out;
}

.item-list li.selected:hover .modify {
	display: block;
}

.item-list li .edit {
	display: none;
}

.item-list li.editing:last-child {
	margin-bottom: -1px;
}

.areas{
	border-right: 2px solid #999;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}
}
